<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PFP With Friends</title>
</head>
<body>
PFP With Friends Home
<br/>
{% if is_group_creator %}
<a href="{% url 'generate' %}">Start!</a>
<br/>
{% endif %}

{% if is_group_creator or group_name %}
{% else %}
<a href="{% url 'create_group_form' %}">Create Group</a>
<a href="{% url 'join_group_form' %}">Join Group</a>
<br/>
{% endif %}
<br/>
<br/>
{% if is_group_creator %}
This user is a group creator
<br/>
{% elif group_name %}
This user is a group member
<br/>
{% endif %}

{% if group_name %}
Group Name: {{ group_name }}
<br/>
{% else %}
This user is not a group member
<br/>
{% endif %}

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    <br/>
{% endif %}

{% if pfps %}
<div>
    <p>Generated PFPs:</p>
    {% for pfp in pfps %}
    <div>
        <img src="{{ pfp.pfp.url }}" width="15%"/>
        <br/>
        <form action="{% url 'update_pfp' pfp.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Set as PFP">
        </form>
    </div>
    <br/>
    {% endfor %}
</div>
{% else %}
<p>No PFPs</p>
{% endif %}
</body>
</html>